body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    background-color: #333;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

main {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}

.light-column {
    background-color: #f9f9f9;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

thead tr {
    background-color: #444;
    color: white;
}

tfoot td {
    text-align: center;
    font-style: italic;
    border-top: 2px solid #444;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
}